{% extends "layout.njk" %}

{% block head %}

<title>About - Rocketseat</title>

{% endblock %}

{% block content %}

        <main id="wrapper">
            
            <h1>Rocketseat</h1>
            
            <a href="https://rocketseat.com.br/"><img src="assets/main_rocket.jpg" alt="Rocketseat logo" />
            </a> 

            <h2>Technology company</h2>

            <p>Brasilian company focused on the best market technologies and willing to carry its pupils to the <strong>next level</strong></p>

        </main>
        
        <section id="tecnologies">

            <img src="assets/rocket_trofy.png" alt="rockettrofy" />

            <article class="container">
            
                    <h1>The same tecnologies used by renowned companies in the market</h1>

                    <h2>Tecnologies:</h2>

                    <ul>
                        <li>React</li>
                        <li>React Native</li>
                        <li>Node</li>
                        <li>JavaScript</li>
                        <li>entre outras</li>
                    </ul>

            </article>

        </section>
        
{% endblock %}