{% extends "layout.njk" %}

{% block head %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Courses - Rocket</title>

{% endblock %}

{% block content %}


        <div id="courses">

            <h1>Courses</h1>

        </div>

        <section id="cards">
            
            {% for info in infos %}

                <article class="{{info.class}}" id="{{info.id}}">

                        
                    
                        <div class="card_title {{ 'featured_wrapper' if info.featured }}">

                            {{info.title}}
                            
                            {% if info.featured %}

                                <div class="featured">Featured</div>

                            {% endif %}

                        </div>

                        <div class="card_image">

                            <img {{info.image}} />


                        </div>

                        <div class="card_info">

                            <p class="card_desc"> {{info.info}}</p>

                            <div class="card_grid">

                                <p class="card_mod">{{info.modules}}</p>

                                <p class="card_price">{{info.price}}</p>

                            </div>

                        </div>

                </article>

            {% endfor %}

        </section>

        <script src="/scripts.js"></script>

{% endblock %}