{% extends "layout.njk" %}

{% block head %}

<title>About - Rocketseat</title>

{% endblock %}

{% block content %}

        <main id="wrapper">
            
            <h1>{{data.title}}</h1>
            
            <a href="https://rocketseat.com.br/"><img src="assets/main_rocket.jpg" alt="{{data.title}} logo" />
            </a> 

            <h2>{{data.subTitle}}</h2>

            <p>{{data.info}}</p>

        </main>
        
        <section id="tecnologies">

            <img  {{data.tecImage}}/>

            <article class="container">
            
                    <h1>{{tecTitle}}</h1>

                    <h2>{{data.tecSubTitle}}</h2>

                    <ul>
                        {{data.tecs}}
                    </ul>

            </article>

        </section>
        
{% endblock %}