{% extends "layout.njk" %}

{% block head %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Courses - Rocket</title>

{% endblock %}

{% block content %}


        <div id="courses">

            <h1>Courses</h1>

        </div>

        <section id="cards">
            
            {% for info in infos %}

                <article class="{{info.class}}" id="{{info.id}}">
                    
                        <div class="card_title">

                            {{info.title}}

                        </div>

                        <div class="card_image">

                            <img {{info.image}} />

                        </div>

                        <div class="card_info">

                            <p class="card_desc"> {{info.info}}</p>

                            <div class="card_grid">

                                <p class="card_mod">{{info.modules}}</p>

                                <p class="card_price">{{info.price}}</p>

                            </div>

                        </div>

                </article>

            {% endfor %}

        </section>

        <section class="full_modal">

            <article class="modal">

                <a class="close_modal">
                    
                    <i class="material-icons">close</i>

                </a>

                <a class="expand_modal">

                    <i class="material-icons">aspect_ratio</i>

                </a>

                <div class="modal_content">

                    <iframe src="" frameborder="0"></iframe>

                </div>

            </article>

        </section>

        <script src="/scripts.js"></script>

{% endblock %}